@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

body {
  font-family: "Catamaran";
  overflow: hidden;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 0px
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 2.4rem;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 1.4rem;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  color: white
}

header {
  height: 3.6rem;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
  position: relative;
  z-index: 99;
}

nav {
  line-height: 3.6rem
}

.wrapper {
  max-width: 72.5rem;
  overflow: hidden;
  margin: 0 auto
}

.edge-wrapper {
  overflow: hidden;
  margin: 0 auto
}

.panel-wrapper {
  max-width: 72rem;
  margin: 2rem 2rem
}

.content {
  position:absolute;
  top: 50px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
}

.nav-bar {
  background-color: #FF5050

}

.nav-link {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-left: 2.5vw;
  margin-right: 3.2vw;
  text-decoration: none
}

.nav-link-r {
  color: #FFFFFF;
  font-size: 1.2rem;
  float: right;
  margin-right: 2.5vw;
  text-decoration: none
}

.section-label {
  margin-left: 8vw;
  color: #FFFFFF;
}

.small-label {
  font-size: 1.12rem;
  color: #FFFFFF;
}

.panel-label {
  font-family: 'Roboto Slab', serif;
  font-size: 2.4rem;
  color: #FFFFFF;
  z-index: 3;
  transition: opacity .5s ease-in-out;
  opacity: 1;
  position: relative;
  margin: 0 0
}

.panel-info {
  position: relative;
  display: block;
  font-size: 1.125rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  z-index: 2;
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

.masthead {
  background-color: #FF5050;
  color: #FFFFFF
}

.masthead h1 {
  font-weight: 300;
}

.propic-svg {
  display: block;
  margin: auto;
  height: 20rem;
  width: 100%;
}

.propic-circle {
  display: block;
  margin: auto;
}

.full-name {
  text-align: center
}

.bold-fname {
  font-weight: 600
}

.basic-info {
  color: #000000;
}

.basic-info a {
  color: #FF5050;
  text-decoration: none
}

.basic-info p {
  font-size: 1.2rem;
  color: #808080;
}

.info-table {
  margin-bottom: 2rem;
  text-align: center;
}

.info-table div {
  text-align: left;
  position: relative;
  display: inline-block;
  width: 30rem;
  max-width: 95%;
  height: auto;
  vertical-align: top;
  padding: 1rem
}

.banner-label {
  height: 5rem;
  background-color: #FF5050;
}

.panel {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  margin: 1rem
}

.panel-text {
  position: absolute;
  display: table-cell;
  top: 0;
  left: 0;
  background-color: rgba(255,80,80,.75);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: 5;
  text-align: left;
  height: 100%;
  width: 100%;
  margin: 0 0
}

.panel:hover .panel-info {
  transition: opacity .5s ease-in-out;
  opacity: 1
}

.panel:hover .panel-text {
  transition: opacity .5s ease-in-out;
  opacity: 1
}

.panel:hover .panel-label {
  transition: opacity .5s ease-in-out;
  opacity: 0
}

.filter {
  position: relative;
  line-height: 22rem;
  text-align: center;
  background-color: rgba(255,80,80,.35);
  height: 100%;
  width: 100%;
  margin: 0 0
}

.photobanner {
  position: relative;
  height: 15rem;
  width: 300rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.photobanner-banner {
  position: absolute;
  display: inline;
  left: 0;
  top: 65%;
  line-height: 3rem;
  height: 3rem;
}

.photobanner-label {
  margin-left: 6rem;
  margin-right: 1rem;
  font-size: 2.8rem;
  float: left;
  color: white;
  border-radius: .6rem;
  background: #FF5050;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
}

.photo {
  height: 15rem;
  width: 15rem;
  padding: 0;
  margin-right: .2rem;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.photo:hover {
  -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.med {
	-webkit-animation: bannermove 45s linear infinite;
	   -moz-animation: bannermove 45s linear infinite;
	    -ms-animation: bannermove 45s linear infinite;
	     -o-animation: bannermove 45s linear infinite;
	        animation: bannermove 45s linear infinite;
}

.slow {
  -webkit-animation: bannermove 55s linear infinite;
	   -moz-animation: bannermove 55s linear infinite;
	    -ms-animation: bannermove 55s linear infinite;
	     -o-animation: bannermove 55s linear infinite;
	        animation: bannermove 55s linear infinite;
}

.fast {
  -webkit-animation: bannermove 35s linear infinite;
	   -moz-animation: bannermove 35s linear infinite;
	    -ms-animation: bannermove 35s linear infinite;
	     -o-animation: bannermove 35s linear infinite;
	        animation: bannermove 35s linear infinite;
}

#masthead-div {
  background: url(assets/masthead-back.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#projects-banner {
  background: url(assets/masthead-back.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#interests-banner {
  background: url(assets/masthead-back.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#portfolio-banner {
  background: url(assets/masthead-back.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#proj1 {
  background-color: #000000;
  background: url(assets/soft_robots.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 22rem
}

#proj2 {
  background-color: #2a8a5a;
  background: url(assets/chi-map.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 22rem
}

#proj3 {
  background-color: #ff5050;
  background: url(assets/cube_front.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 22rem;
}

#proj4 {
  background-color: #9c6c3c;
  background: url(assets/reversex.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 22rem
}

#proj5 {
  background-color: #9c6c3c;
  background: url(assets/modeling.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 22rem
}

#proj6 {
  background-color: #9c6c3c;
  background: url(assets/code-sc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 22rem
}

@media (max-width: 45rem) {
  .collapse {
    display: none !important;
  }
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -123rem;
 }
}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -123rem;
 }
}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -123rem;
 }
}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -123rem;
 }
}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -123rem;
 }
}
